# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Python virtual environments
venv/
.venv/
env/
ENV/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Logs / temporary files
*.log
*.tmp

# Arduino build files
build/
*.o

# Environment files
.env

# Keep the folder, remove the data
data/*
!data/.gitkeep